[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
flake8 = "*"
ipykernel = "*"
seaborn = "*"
moto = "*"

[packages]
awscli = "*"
pandas = "*"
csci-utils = {editable = true, git = "https://github.com/csci-e-29/2020fa-csci-utils-woodytwoshoes"}
numpy = "==1.19.3"
configparser = "*"
click = "*"
Sphinx = "*"
python-dotenv = ">=0.5.1"
importlib-metadata = "==1.7.0"
toolz = "*"
boto3 = "*"
sklearn = "*"
pillow = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
